*{
	background-color : rgb(110, 154, 219);	
}

p{
	font-size: 60px;
	color : white;
	font-style: italic;
}

h1{
	margin-top: 40px;
	font-size: 70px;
	color : white;
}	

td{
	margin-top: 40px;
	font-size: 70px;
	color : white;
}