*{

}

p{
	font-size: 60px;
	color : white;
	font-style: italic;
}

td{
	font-size: 70px;
	color : rgb(64, 64, 64);
}

.header{
	background-color: rgb(102, 174, 222);
	height: 20%;
	width: 100%;
	font-size: 30px;
	text-align: center;
	color: white;
}

.content{
	height: 60%;
	width: 100%;
	padding:     
}

.footer{
	background-color : rgb(110, 154, 219);	
	height: 20%;
	width: 100%;
}